<div class="ui large menu borderless fluid" style="background-color:#3f51b5;box-shadow: 1px 1px 2px #888888;">
    <a class="item" style="font-family:'Open Sans';font-weight:light;font-size:1.2em;color:#fff;border:0px solid thin;" href="dashboard.html">
        MindHacks
    </a>
    <div class="right menu">
        <div class="item" style="font-family:'Open Sans';font-weight:light;color:#fff">
          <a href ="logout" style="color:#fff">
              Logout
          </a>
        </div>
    </div>
</div>
