<!-- Dashboard Section -->

    <div class="ui grid">
        <!--  Side Navigation Section -->
        <div class="two wide column">

            <div class="ui left vertical menu left sidebar visible" id="side">

                    <div class="item">
                      <a class="header" style="font-family:'Open Sans';font-weight:lighter;color:#fff">
                            <i class="folder icon"></i> <a href="view">Projects</a>
                      </a>
                    </div>
                    <div class="item">
                      <a class="header" style="font-family:'Open Sans';font-weight:lighter;color:#fff">
                            <i class="configure icon"></i><a href="create"> Create </a>
                      </a>
                    </div>
                    <div class="item">
                      <a class="header" style="font-family:'Open Sans';font-weight:lighter;color:#fff">
                            <i class="wait icon"></i> <a>Status</a>
                      </a>
                    </div>
                    <div class="item">
                      <a class="header" style="font-family:'Open Sans';font-weight:lighter;color:#fff">
                            <i class="info icon"></i> <a>Support</a>
                      </a>
                    </div>
            </div>
        </div>
    </div>

        <!-- End -->
