


<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/assets/favicon.png" type="image/x-icon">

    <title>
      
        Toilo &middot; Dashboard &middot; Create
      
    </title>
    

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    
      <link href="https://bootstrap-themes.github.io/dashboard/assets/css/toolkit-light.css" rel="stylesheet">
    
    
    <link href="https://bootstrap-themes.github.io/dashboard/assets/css/application.css" rel="stylesheet">

    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
      .pb .oy.active, .pb .show > .oy {
        color: #fff !important;
        color: #fff;
        background-color: #6958ca !important;
      }
      a {
        color: #6958ca !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
      }
      a:active{
        color: #fff !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
      }
    </style>
  </head>


<body>
  <div class="bw">
    <div class="dh">
      <div class="en bpz">
        <nav class="bqg">
          <div class="bqa">
            <button class="bow boy bqb" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="adp">Toggle nav</span>
            </button>
            <a class="bqc brd" href="">
              <span><img src="../static/dashboard/images/logo.png" height="46px" width="153px"/></span>
            </a>
          </div>

          <div class="collapse bpd" id="nav-toggleable-md">
            <form class="bqe">
              <input class="form-control" type="text" placeholder="Search...">
              <button type="submit" class="nz">
                <span class="bv bhw"></span>
              </button>
            </form>
            <ul class="nav pb nav-stacked wz">
              
              <li class="pa">
                <a class="oy" href="dashboard">Overview</a>
              </li>
              <li class="pa">
                <a class="oy active" href="#">Create</a>
              </li>
              <li class="pa">
                <a class="oy" href="logout">Logout</a>
              </li>
            </ul>
            <hr class="bre aez">
          </div>
        </nav>
      </div>
      <div class="et brf">
        <div class="bqn">
  <div class="bqo">
    
    <h2 class="bqp">My Spaces</h2>
  </div>
</div>

<hr class="aez">

<div class="dh">
  <div class="eq afr">
      <form class="form-control" method="POST">
          <div class="form-group">
            <label >Enter Location</label>
            <input type="text" class="form-control"  placeholder="Location" name="location" value={{request.form.location}}>
          </div>
          <div class="form-group">
            <label>Enter cost</label>
            <input type="text" class="form-control" placeholder="Cost" name="cost" value={{request.form.cost}} >
          </div>
          <div class="form-group">
              <label >Enter Timing</label>
              <input type="text" class="form-control" placeholder="Timing" name="timing" value={{request.form.timing}}>
            </div>
            <div class="form-group">
                <label >Enter Contact Number</label>
                <input type="text" class="form-control" placeholder="Contact Number" name="number" value={{request.form.number}}>
              </div>
              <div class="form-group">
                  <label >Enter the address</label>
                  <input type="text" class="form-control" placeholder="Address" name="address" value={{request.form.address}}>
                </div>
              <br>
          <button style="border-radius:5px; text-align:center; background-color:#6958ca;color:#fff;margin-left:150px;font-weight:300;font-size:1.5em;" type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
      </div>
    </div>
  </div>


    <script src="https://bootstrap-themes.github.io/dashboard/assets/js/jquery.min.js"></script>
    <script src="https://bootstrap-themes.github.io/dashboard/assets/js/popper.min.js"></script>
    <script src="https://bootstrap-themes.github.io/dashboard/assets/js/chart.js"></script>
    <script src="https://bootstrap-themes.github.io/dashboard/assets/js/tablesorter.min.js"></script>
    <script src="https://bootstrap-themes.github.io/dashboard/assets/js/toolkit.js"></script>
    <script src="https://bootstrap-themes.github.io/dashboard/assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>

</html>

