<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Toilo</title>
<link rel="stylesheet" type="text/css" href="../static/index/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/index/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/index/assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="../static/index/assets/css/style.css">
<link rel="icon" href="../static/assets/favicon.png" type="image/x-icon">
</head>

<body>
<div id="header-holder">
    <div class="bottom-gradiant"></div>
    <nav id="main-nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                                <button aria-expanded="true" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="/">
                                <img class="logo" src="../static/index/assets/images/logo.png" alt="Spacehost">
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="login"><span>Login</span></a></li>
                                <li><a href="signup"><span>Signup</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-title">Toilets on the go<br>Find your space with toilo</div>
                    <div class="domain-search-holder">
                        <form id="domain-search" action="/search" method="POST">
                            <input id="domain-text" type="text" name="location" placeholder="Enter your location.." value={{request.form.location}} >
                            <span class="inline-button">
                                <input id="search-btn" type="submit" name="submit" value="Search" />
                            </span>
                        </form>
                    </div>
                </div>
                <!--<div class="col-md-12">
                    <div class="arrow-button-holder">
                        <a href="#pricing">
                            <div class="arrow-icon">
                                <i class="sphst sphst-arrow-down"></i>
                            </div>
                            <div class="button-text">Go to plans</div>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<script src="../static/index/assets/js/jquery.min.js"></script>
<script src="../static/index/assets/js/bootstrap.min.js"></script>
<script src="../static/index/assets/js/slick.min.js"></script>
<script src="../static/index/assets/js/main.js"></script>
</body>

</html>
